@page "/Projects/{id}"
@model Cde.Pages.Projects.ProjectModel
@{
    ViewData["Title"] = "Project";
}
<h1>@ViewData["Title"]</h1>

<p>Project</p>

<p>@Model.Project.Name</p>

<p>@Model.Project</p>

<ul>
    @foreach (var i in Model.Updates)
    {
        <li>@i</li>
    }
</ul>
<p>Owner: </p>@Model.Project.
<ul>
    @foreach (var p in Model.Project.Participants)
    {
        <li>
            <p>Participant: </p>@p
        </li>
    }
</ul>

<partial name="_CommentForm" model="Model.CommentCommand"/>

<partial name="_FileForm" model="Model.FileTextCommand"/>

<partial name="_FileTextForm" model="Model.FileTextCommand"/>

@if (Model.Project.IsOwner)
{
    <form asp-page-handler="Invite" method="post">
        <div class="form-group">
            <label asp-for="InviteInputModel.NewParticipantEmailAddress" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="InviteInputModel.NewParticipantEmailAddress" class="form-control"/>
                <span asp-validation-for="InviteInputModel.NewParticipantEmailAddress" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Invite</button>
    </form>

    @if (Model.InviteParticipantResult is not null)
    {
        <p>@Model.InviteParticipantResult</p>
    }
}